@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext,vietnamese');
/**{
  margin: 0px;
  padding: 0px;
}*/
body{
  background: black;
  font-family: 'Dancing Script', cursive;
}
#container{
  width: 450px;
  margin: 0 auto;
}
.ima1, .ima2, .ima3, .ima4, .ima5, .ima6{
  border: solid 1px;
  box-shadow: 2px 2px 2px #02010a;
}
.container1{
  background: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border: 0px solid #000000;
  text-shadow: 2px 2px 2px #02010a;
  text-align: center;
  padding: 15px;
}
.paisajes{
  text-decoration:none;
}
.inicio, .paisajes, .retratos:visited{
  color: White;
}
.inicio, .paisajes, .retratos:active{
  color: White;
}
.container2{
  background: yellow;
}
.divimg{
  width: 100%;
  text-align: center;
}
.ima1, .ima2, .ima3, .ima4, .ima5, .ima6{
  margin: 10px;
}
/*-webkit-filter:/* Chrome y Safari */
/*-moz-filter:/* Mozilla */
/*-ms-filter:/* Internet Explorer */
/*-o-filter:/* Opera */

.ima1{
  filter: blur(10px);
}
.ima2, .ima4, .ima6{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.ima3{
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  -ms-filter: sepia(90%);
  -o-filter: sepia(90%);
}
.container3{
  background: orange;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;
  text-align: center;
  padding: 15px;
}
@media (min-width: 900px) {
  #container{
    width: 900px;
    margin: 0 auto;
  }
  .container1{
    display: flex;
    justify-content:space-between;
  }
  .container2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  .divimg{
    width: 33.33%;
    text-align: center;
  }
  .container3{
    display: flex;
    justify-content:space-between;
      text-align: center;
  }

  }
